@mixin Button_style {
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    background-color:map-get($colors,ButtonBackground);
    color: map-get($colors,TextColor2);
    border: none;
    width: 141px;
    height: 51px;
  }
@mixin Link_style {
    color: map-get($colors,TextColor2);
    font-size: 16px;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: map-get($colors,ContentBackground);
}
header {
font-family: $FirstShrift;
  
background-image: url($HeaderImageBg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 720px;
border-radius: 0% 0% 40% 50% / 100% 60% 40% 0% ;
.header_button {
    @include Button_style;
    margin-right: 28px;
}
.login {
    margin-left: 145px;
    @include Link_style;
    
}
.header-wrap {
    margin-left: 185px; 
    img {
        margin-top: 10px;
        display: flex;  
        width: 45px;
        height: 45px;
    }
    .landing-logo {
            width: 300px;
            padding-top: 10px;
            img{
                float: left;
            }
            p{ 
                font-weight: bold;
                margin-top: 10px;
                font-size: 23px;
                margin-left: 55px;
                span {
                    display: flex;
                    text-align: center;
                    font-size: 10px;
                    line-height: 0px;
                    padding-left: 10px;
                }
            }
    }
    .header_heading {
            color: map-get($colors,HeaderTxtColor);
            position: relative;
            width: 500px;
            padding-top: 13px;
            font-size: 67px;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 60px;
            z-index: 2;
            margin-bottom: 24px;

            &::after {
                content: "";
                position: absolute;
                left: 0px;
                bottom: 1px;
                background-color: $TextBackgroundFont;
                z-index: -1;
                width: 289px;
                height: 49px;
            }
            }
        
    }
    .header_text {
        width: 800px;
        white-space: pre-line;
        margin-left: 7px;
        margin-bottom: 56px;
        color: map-get($colors,HeaderTxtColor);
    }    
    }
     

main {
// text-align: center;
   .section_text{
    color: map-get($colors,HeaderTxtColor);
    position: relative;
    font-family: $FirstShrift;
    font-weight: bold;
    font-size: 40px;
    z-index: 2;
    width: 434px;
    margin-left: 762px;

    &::after {
        content: "";
        position: absolute;
        left: 212px;
        bottom: 7px;
        background-color:$TextBackgroundFont;
        z-index: -1;
        width: 185px;
        height: 51px;
    }
   }
   
.section_card_wrap{
    font-family: $FirstShrift;
    .section_card_heading{
        text-align: center;
        font-weight: bold;
        font-size: 23px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .section_card_text{
        text-align: justify;
        width: 462px;
        padding-left: 535px;
        font-size: 15px;
        line-height: 20px;
        word-spacing: 2px;
        margin-bottom: 7px;
        padding-bottom: 9px;
        color: map-get($colors,TextColor2);
        margin-bottom: 60px;
    }
    .section_link{
        padding-left: 277px;
        margin-bottom: 40px;
        @include Link_style;
    }
}
.section_card {
display: block;
border-radius: 15px;
   width: 1077px; height: 295px;
   padding: 20px; margin: 20px;
   margin-left: auto;
    margin-right: auto;
   background-color: map-get($colors,BlockBackgroundColor);
   color: map-get($colors,TextColor2);
   .section_card_img {
       float: left;
       width: 427px;
       height: 296px;
   }
}
.section_banner {
    position: sticky;
    display: block;
    width: 1077px; height: 295px;
    padding: 20px; margin: 20px;
    margin-left: auto;
     margin-right: auto;
     margin-top: 130px;
     width: 1158px;
     height: 109px;
    background: linear-gradient(45deg,map-get($colors,Gradient1),map-get($colors,Gradient2)); 
}
.section_banner_text_wrap {
    position: relative;
    font-family: $FirstShrift;
    flex-direction: column;
    align-items: center;
    margin-left: 120px;
   .section_banner_heading {
        color: map-get($colors,TextColor1); 
        position: relative;
        z-index: 2;
        width: 413px;
        height: 49px;
        margin-bottom: 0px;
        font-size: 30px;
        margin-top: 5px;
        font-weight: bold;
        z-index: 2;
        &::after {
            content: "";
            position: absolute;
            left: 124px;
            bottom: 12px;
            background-color:$TextBackgroundFont;
            z-index: -1;
            width: 59px;
            height: 49px;
        }
   }
   .section_banner_text {
        margin-top: 0px;
        color: map-get($colors,TextColor2);
        margin-top: 0px;
}
}
}
.footer {
    color: map-get($colors,TextColor2);
    display: block;
    width: 100%;
    height: 253px;     
   margin-top: -94px;
    margin-bottom: 20px;
   background-color:map-get($colors,BlockBackgroundColor);  
   img {
    margin-top: 10px;
    display: flex;  
    width: 45px;
    height: 45px;
}
.landing-logo {
        width: 300px;
        padding-top: 10px;
        img{
            float: left;
        }
        p{ 
            font-weight: bold;
            margin-top: 10px;
            font-size: 23px;
            margin-left: 55px;
            span {
                display: flex;
                text-align: center;
                font-size: 10px;
                line-height: 0px;
                padding-left: 10px;
            }
        }
} 
} 
.footer-wrap {
    font-family: $FirstShrift;
    padding-top: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    }
    .footer_text {
        text-align: left;
        width: 321px;
    }
.section_banner_button {
        @include Button_style;
        @extend .header_button;
        position: absolute;
    left: 900px;
    bottom: 46px;
    float: right;
    }