$colors:(
ContentBackground: #ffffff,
Gradient2:#2a5cd3,
Gradient1:#679800,
ButtonBackground:#699a00,
TextColor1:#1b1e2a,
TextColor2:#ffffff,
HeaderTxtColor:#1b1e2a,
BlockBackgroundColor:#282b39
);
$FirstShrift: 'Source Sans Pro', sans-serif;
$HeaderTxt: 'Hind', sans-serif;
$HeaderImageBg: "../img/m-h-day.jpg";
$TextBackgroundFont: #0ca1c8;
