$colors:(
ContentBackground: #1b1e2a,
Gradient2:#932851,
Gradient1:#e2ac00,
ButtonBackground:#e4ae00,
TextColor1:#5c5e66,
TextColor2:#ffffff,
HeaderTxtColor:#ffffff,
BlockBackgroundColor:#383d4f
);
$FirstShrift: 'Source Sans Pro', sans-serif;
$HeaderTxt: 'Fresca', sans-serif;
$HeaderImageBg: "../img/m-h-night.jpg";
$TextBackgroundFont: #ff4d30;